numpy==1.19.4
-f https://download.pytorch.org/whl/torch_stable.html 
torch==1.7.1
-f https://download.pytorch.org/whl/torch_stable.html
torchvision==0.7.0
uuid
comet_ml
argparse==1.4.0
importlib==1.0.4
tqdm==4.54.1